<h1>{{title}}</h1>
<div class="header-bar"></div>
<nav>
  <span>Angular 1 : </span>
  <a ng-href="/#!/dashboard/controller" routerLinkActive="active">Dashboard Controller</a>
  <a ng-href="/#!/dashboard/component" routerLinkActive="active">Dashboard Component</a>
  <a routerLink="/heroes/controller" routerLinkActive="active">Heroes</a>
</nav>
<nav>
  <span>Angular 4 : </span>
  <a ng-href="/#!/dashboard/controller" routerLinkActive="active">Dashboard Controller</a>
  <a ng-href="/#!/dashboard/component" routerLinkActive="active">Dashboard Component</a>
  <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
</nav>
<br/>
<router-outlet>router-outlet</router-outlet>
<div ng-view>ng-view</div>
