<h1>{{title}}</h1>
<div class="header-bar"></div>
<nav>
  <span>Angular 1 : </span>
  <a ng-href="/#!/dashboard1/controller" routerLinkActive="active">Dashboard Controller 1</a>
  <a ng-href="/#!/dashboard1/component" routerLinkActive="active">Dashboard Component 1</a>
  <a ng-href="/#!/heroes1" routerLinkActive="active">Heroes 1</a>
</nav>
<nav>
  <span>Angular 4 : </span>
  <a ng-href="/#!/dashboard4" routerLinkActive="active">Dashboard Component 4</a>
  <a ng-href="/dashboard4" routerLinkActive="active">Dashboard Component 4</a>
  <a routerLink="/#!/heroes4" routerLinkActive="active">Heroes 4</a>
</nav>
<br/>
<router-outlet>router-outlet</router-outlet>
<div ng-view>ng-view</div>
